<plugin name='spring-security-facebook' version='0.13.2' grailsVersion='2.3.4 &gt; *'>
  <author>Igor Artamonov</author>
  <authorEmail>igor@artamonov.ru</authorEmail>
  <title>Facebook Authentication</title>
  <description>Facebook Authentication plugin, extension to the Spring Security Core plugin.</description>
  <documentation>http://splix.github.com/grails-spring-security-facebook/</documentation>
  <type>SpringSecurityFacebookGrailsPlugin</type>
  <resources>
    <resource>DefaultFacebookSecurityConfig</resource>
    <resource>com.the6hours.grails.springsecurity.facebook.FacebookAuthTagLib</resource>
  </resources>
</plugin>